@{
    ViewBag.Title = "Pi2 !";
}



<div>
    <button data-bind="click:configure">Configure</button>
    <button data-bind="click:reset">Reset</button>
    <button data-bind="click:turnLedRedOn">Red On</button>
    <button data-bind="click:turnLedRedOff">Red Off</button>

    <button data-bind="click:turnLedYellowOn">Yellow On</button>
    <button data-bind="click:turnLedYellowOff">Yellow Off</button>


    <div class="row">
        <div class="col-lg-3" data-bind="text:buttonASpeed">
        </div>
        <div class="col-lg-3" data-bind="text:buttonBSpeed">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3" data-bind="foreach:eventsButtonA">
            <div>
                <span style="font-weight:bold" data-bind="text:time"> </span>
                <span data-bind="text:description"> </span>
            </div>
        </div>
        <div class="col-lg-3" data-bind="foreach:eventsButtonB">
            <div>
                <span style="font-weight:bold" data-bind="text:time"> </span>
                <span data-bind="text:description"> </span>
            </div>
        </div>


    </div>

</div>

@section scripts{
    <script src="@Url.Content("~/scripts/jquery-2.1.4.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.signalR-2.2.0.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>

    <script src="@Url.Content("~/scripts/knockout-3.4.0.js")"></script>
    <script src="@Url.Content("~/scripts/rx.all.min.js")"></s></script>

    <script src="@Url.Content("~/Views/Pi/Index.js")"></script>

    <script type="text/javascript">
        var model = new Pi2.Remote.Web.Pi.ViewModel();
        ko.applyBindings(model);
    </script>
}