@{
    ViewBag.Title = "Pi2 !";
}



<div>
    <button data-bind="click:configure">Configure</button>
    <button data-bind="click:turnLedOn">On</button>
    <button data-bind="click:turnLedOff">Off</button>

    <div data-bind="foreach:events">
        <span style="font-weight:bold" data-bind="text:time"> </span>
        <span data-bind="text:description"> </span>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/scripts/jquery-2.1.4.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.signalR-2.2.0.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    
    <script src="@Url.Content("~/scripts/knockout-3.4.0.js")"></script>

    <script src="@Url.Content("~/Views/Pi/Index.js")"></script>

    <script type="text/javascript">
        var model = new Pi2.Remote.Web.Pi.ViewModel();
        ko.applyBindings(model);
    </script>
}